*.pdf
*.txt
*.zip
bloque0.zip
.ipynb_checkpoints
bloque1.zip
bloque2.zip
bloque3.zip
bloque5.zip
bloque4_plotting.zip
bloque6.zip

D:/CIFF/DataSciencePython/bloque0/.ipynb_checkpoints/*
D:/CIFF/DataSciencePython/bloque1/notebooks/.ipynb_checkpoints/*
D:/CIFF/DataSciencePython/bloque2/.ipynb_checkpoints/*
D:/CIFF/DataSciencePython/bloque3/.ipynb_checkpoints/*
D:/CIFF/DataSciencePython/bloque4_plotting/.ipynb_checkpoints/*
D:/CIFF/DataSciencePython/bloque5/.ipynb_checkpoints/*
D:/CIFF/DataSciencePython/bloque6/.ipynb_checkpoints/*
D:/CIFF/DataSciencePython/Ejercicio_3/ofcom-uk-fixed-broadband-postcode-level-data-2013/.ipynb_checkpoints/*
D:/CIFF/DataSciencePython/EjercicioPropuesto_1/.ipynb_checkpoints/*
D:/CIFF/DataSciencePython/EntregaFinal/Entega1/Parte1/.ipynb_checkpoints/*
D:/CIFF/DataSciencePython/EntregaFinal/Entega1/Parte2/airplane-crashes-since-1908/.ipynb_checkpoints/*
D:/CIFF/DataSciencePython/EntregaFinal/Entega1/Parte3/international-debt-statistics/.ipynb_checkpoints/*
D:/CIFF/DataSciencePython/EntregaFinal/Entrega2/.ipynb_checkpoints/*
D:/CIFF/DataSciencePython/global-shark-attacks/.ipynb_checkpoints/*
D:/CIFF/DataSciencePython/EntregaFinal/Entrega2/*.h5


D:/CIFF/DataSciencePython/bloque0/*.pdf
D:/CIFF/DataSciencePython/bloque0/*.pptx
D:/CIFF/DataSciencePython/bloque0/__MACOSX/*
D:/CIFF/DataSciencePython/bloque0/__MACOSX/*
D:/CIFF/DataSciencePython/bloque0/notebooks/*.txt


D:/CIFF/DataSciencePython/bloque1/*.pdf
D:/CIFF/DataSciencePython/bloque1/*.pptx
D:/CIFF/DataSciencePython/bloque1/__MACOSX/*

D:/CIFF/DataSciencePython/bloque2/__MACOSX/*.pdf
D:/CIFF/DataSciencePython/bloque2/__MACOSX/*.pptx
D:/CIFF/DataSciencePython/bloque2/__MACOSX/ejercicios/*

D:/CIFF/DataSciencePython/bloque3/*.pdf
D:/CIFF/DataSciencePython/bloque3/*.txt
D:/CIFF/DataSciencePython/bloque3/*.h5
D:/CIFF/DataSciencePython/bloque3/*.pptx
D:/CIFF/DataSciencePython/bloque3/*.PPT
D:/CIFF/DataSciencePython/bloque3/*.ppt
D:/CIFF/DataSciencePython/bloque3/*.jpg
D:/CIFF/DataSciencePython/bloque3/*.xml
D:/CIFF/DataSciencePython/bloque3/*.db
D:/CIFF/DataSciencePython/bloque3/__MACOSX/*.PPT
D:/CIFF/DataSciencePython/bloque3/__MACOSX/*.ppt

D:/CIFF/DataSciencePython/bloque4_plotting/*.pdf
D:/CIFF/DataSciencePython/bloque4_plotting/*.csv
D:/CIFF/DataSciencePython/bloque4_plotting/__MACOSX/*.pdf
D:/CIFF/DataSciencePython/bloque4_plotting/__MACOSX/*.csv

D:/CIFF/DataSciencePython/bloque5/*.pdf
D:/CIFF/DataSciencePython/bloque5/*.csv
D:/CIFF/DataSciencePython/bloque5/__MACOSX/*.pdf

D:/CIFF/DataSciencePython/bloque6/*.pdf
D:/CIFF/DataSciencePython/bloque6/*.PPT
D:/CIFF/DataSciencePython/bloque6/*.ppt
D:/CIFF/DataSciencePython/bloque6/__MACOSX/*.pdf
D:/CIFF/DataSciencePython/bloque6/__MACOSX/*.PPT
D:/CIFF/DataSciencePython/bloque6/__MACOSX/*.ppt

"D:/CIFF/DataSciencePython/Ejercicio_3/ofcom-uk-fixed-broadband-postcode-level-data-2013/PostcodeDataforConsumersFINAL.csv"
"D:/CIFF/DataSciencePython/Ejercicio_3/ofcom-uk-fixed-broadband-postcode-level-data-2013/*.csv"
"D:/CIFF/DataSciencePython/Ejercicio_3/*.zip"
"D:/CIFF/DataSciencePython/Ejercicio_3/*.docx"

D:/CIFF/DataSciencePython/EjercicioPropuesto_1/*.pdf
D:/CIFF/DataSciencePython/EjercicioPropuesto_1*.txt


D:/CIFF/DataSciencePython/EntregaFinal/Entega1/Parte1/*.csv
D:/CIFF/DataSciencePython/EntregaFinal/Entega1/Parte2/airplane-crashes-since-1908/*.csv
D:/CIFF/DataSciencePython/EntregaFinal/Entega1/Parte2/*.zip
D:/CIFF/DataSciencePython/EntregaFinal/Entega1/Parte3/international-debt-statistics/*.csv
D:/CIFF/DataSciencePython/EntregaFinal/Entega1/Parte3/*.zip
D:/CIFF/DataSciencePython/EntregaFinal/Entega1/Parte3/*.pdf
D:/CIFF/DataSciencePython/EntregaFinal/Entega1/*.pdf

D:/CIFF/DataSciencePython/EntregaFinal/Entrega2/*.pdf
D:/CIFF/DataSciencePython/EntregaFinal/Entrega2/*.csv
D:/CIFF/DataSciencePython/EntregaFinal/Entrega2/*.txt
D:/CIFF/DataSciencePython/EntregaFinal/Entrega2/Datos/*
D:/CIFF/DataSciencePython/EntregaFinal/Entrega2/NOOA_Precipitation_All.h5
D:/CIFF/DataSciencePython/EntregaFinal/Entrega2/NOOA_Precipitation.h5
D:/CIFF/DataSciencePython/EntregaFinal/Entrega2/Airplane_Crashes_and_Fatalities_Since_1908.csv

"D:/CIFF/DataSciencePython/EntregaFinal/Entrega3/videogamesales/*.csv"
D:/CIFF/DataSciencePython/EntregaFinal/Entrega3/videogamesales/*.csv
D:/CIFF/DataSciencePython/EntregaFinal/Entrega3/videogamesales/vgsales.csv


D:/CIFF/DataSciencePython/global-shark-attacks/*.csv
D:/CIFF/DataSciencePython/global-shark-attacks/*.pdf
D:/CIFF/DataSciencePython/global-shark-attacks/*.xls
D:/CIFF/DataSciencePython/global-shark-attacks/*.zip